.author-wrapper {
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr;
    grid-gap: 15px;
    transform: perspective(400px) rotateX(4deg);
    transition: all 0.3s ease-in-out;
}

.author-title {
    color: #ccc;
    background: #414141;
    width: 100%;
    text-align: start;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 1);
}

.author-content {
    width: 500px;
    background: #414141;
    color: #ccc;
    font-size: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 1);
}

.author-img {
    width: 46%;
    float: left;
    margin-right: 20px;
}

.author-text {
    text-align: justify;
}

@media all and (max-width: 600px) {
    .author-wrapper {
        transform: none;
    }
    .author-content {
        width: 100%;
    }
}