body,
html {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.App {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.note-component {
    box-sizing: content-box;
    height: 90vh;
    border-radius: 5px;
    width: 500px;
    transform: perspective(400px) rotateX(4deg);
    /* border: 15px solid rgba(0, 0, 0, 0.2); */
}

.note-wrapper {
    background: #414141;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    /* border: 1px solid red; */
}


/* Note List start */

.note-list {
    /* flex: 2 1 auto; */
    flex-grow: 1;
    /* display: flex;
    flex-flow: column; */
    /* border: 1px solid blue; */
    overflow-x: hidden;
}

.note-list::-webkit-scrollbar {
    width: 7px;
}

.note-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.note-list::-webkit-scrollbar-thumb {
    background-color: #363636;
    border-radius: 15px;
}


/* Note List end */


/* Note item start */

.note-holder {
    animation: note-anim 0.4s ease-out;
}

.note,
.edit-note,
.delete-note {
    user-select: none;
    height: 70px;
    margin: 5px;
    background: #363636;
    color: #ccc;
    padding: 10px;
    font-size: 20px;
    overflow: hidden;
    position: relative;
}

@keyframes note-anim {
    from {
        transform: translateX(calc(100% + 10px));
    }
    to {
        transform: translateX(0);
    }
}

.note:hover {
    background: #484848;
}

.note:hover .note-slider {
    transform: translateX(0);
}

.note:hover .note-content .date {
    transform: translateX(calc(-100% - 10px));
}

.note-content {
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.text {
    width: 100%;
    grid-column: span 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: start;
}

.title {
    text-transform: capitalize;
}

.date,
.title {
    white-space: nowrap;
    align-self: end;
}

.date {
    transition: transform 0.2s ease-in;
    justify-self: end;
    transform: translateX(0%);
}

.title {
    justify-self: start;
}

.note-slider {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 30%;
    display: flex;
    width: 25%;
    justify-content: flex-end;
    align-items: flex-end;
    transform: translateX(calc(20px + 100%));
    transition: all 0.2s ease-in;
}

.slider-item {
    padding: 10px;
    color: #F96816;
}

.slider-item:hover {
    background: #363636;
    user-select: none;
    color: rgb(250, 137, 72);
}


/* Note item end */


/* Add note start*/

.add-note {
    flex-shrink: 0;
    padding: 10px 10px;
    display: flex;
    flex-flow: column;
    /* border: 1px solid red; */
    box-sizing: border-box;
    position: relative;
}

.note-input-title {
    outline: none;
    font-size: 22px;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: 0;
    height: 40px;
    padding: 10px;
    text-transform: capitalize;
    margin-bottom: 2px;
}

.note-input-title::-webkit-input-placeholder {
    font-size: 20px;
}

.note-input-text {
    box-sizing: border-box;
    font-size: 20px;
    height: 80px;
    resize: none;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
    outline: none;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    position: relative;
    z-index: 2;
}

.note-input-text.transition-margin{
    transition: margin-bottom .2s ease-in-out;
    margin-bottom: -50px;
}
.note-input-text::-webkit-input-placeholder {
    font-size: 20px;
}

.note-input-text.transition-margin.note-input-translate {
    margin-bottom: 10px;
}

.add-note-btn {
    transition: opacity 0.2s ease-in;
    box-sizing: content-box;
    height: 45px;
    font-size: 20px;
    background: #F96816;
    color: white;
    border: 1px solid #F96816;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
    outline: none;
    user-select: none;
    opacity: 0;
}

.add-note-btn-opacity {
    opacity: 1;
}

.add-note-btn:hover {
    background: rgb(250, 137, 72);
}

.save-type {
    display: flex;
    justify-content: flex-end;
    color: #ccc;
    padding: 10px 0;
}

.press-enter {
    padding-right: 10px;
    user-select: none;
}

.press-enter span {
    border: 1px solid #ccc;
    padding: 0 7px;
}

.off-on-btn {
    background: #F96816;
    ;
    border-radius: 10px;
    width: 50px;
    height: 15px;
    position: relative;
    cursor: pointer;
    transition: all 0.4s 0.2s ease;
}

.ball {
    transition: all 0.4s ease;
    position: absolute;
    width: 33.333%;
    background: white;
    height: 100%;
    border-radius: 50%;
    transform: translateX(calc(2*100%));
}

.translate-ball {
    transform: translateX(0);
}

.off-on-btn-clicked {
    background: #555;
}

.note-text-error,
.note-title-error {
    position: absolute;
    background: #ffdce0;
    height: 40px;
    color: #86181d;
    padding: 10px 5px;
    user-select: none;
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
    z-index: -1;
    border: 1px solid #86181d;
    box-shadow: 0px 0px 0px 2px #77090fa6;
}

.note-title-error {
    height: 40px;
    left: 10px;
}

.note-text-error {
    height: 40px;
    top: 52px;
    right: 10px;
}

.note-title-error-show,
.note-text-error-show {
    animation: show-error 4s ease-out, translate-error 0.4s ease-in-out forwards;
}

@keyframes show-error {
    from {
        z-index: 3;
    }
    to {
        z-index: 3;
    }
}

@keyframes translate-error {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(calc(-100% - 2px));
    }
}


/* Add note end */


/* Edit note start*/

.note-input-text.editing-note {
    grid-column: span 2;
    height: 100%;
}

@keyframes opacity-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.edit-note {
    height: 100%;
    width: calc(100% - 10px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-gap: 5px;
    animation: opacity-animation 0.3s ease-in;
    box-sizing: border-box;
}

.cancel-edit {
    align-self: center;
    justify-self: start;
}

.save-edited-note {
    align-self: center;
    justify-self: end;
}

.save-edited-note,
.cancel-edit {
    font-size: 16px;
    color: #F96816;
}

.save-edited-note {
    color: #ccc;
}

.save-edited-note :last-child {
    color: #F96816;
    padding: 5px;
    margin-left: -3px;
}

.save-edited-note :last-child:hover,
.cancel-edit:hover,
.delete-note span:hover {
    background: #484848;
    user-select: none;
    color: rgb(250, 137, 72);
}

.save-edited-note :first-child {
    border: 1px solid #ccc;
    padding: 0 7px;
}


/* Delete note */

.delete-note {
    animation: opacity-animation 0.3s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px inset #ccc;
}

.delete-note span {
    font-size: 20px;
    color: #F96816;
    padding: 5px;
}


/* Note modal */

.note-modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.2);
    z-index: 10;
    display: grid;
    align-items: center;
    justify-items: center;
}

.note-modal {
    position: relative;
    width: 70vh;
    background: #363636;
    padding: 20px;
    color: #ccc;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px #1b1b1b;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 200px 1fr;
    justify-items: start;
}

.show-modal-enter {
    transform: scale(0) rotate(0deg);
}

.show-modal-enter.show-modal-enter-active {
    transform: scale(1) rotate(360deg);
    transition: 300ms transform ease-out;
}

.show-modal-exit.show-modal-exit-active {
    transform: scale(0) rotate(0deg);
    transition: 300ms transform ease-out;
}

.show-modal-exit {
    transform: scale(1) rotate(360deg);
}

.close-modal {
    position: absolute;
    right: 10px;
    top: 2px;
    color: #F96816;
    padding: 0px 5px;
    user-select: none;
}

.close-modal:hover {
    background: #484848;
    color: rgb(250, 137, 72);
}

.note-modal-title {
    font-size: 22px;
}

.note-modal-text {
    width: 100%;
    overflow-wrap: break-word;
    overflow-y: auto;
    text-align: justify;
    cursor: pointer;
    user-select: none;
}

.note-modal-date {
    justify-self: end;
}