body,
html {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: sans-serif;
    background: radial-gradient(ellipse at center, transparent, #414141);
    vertical-align: baseline;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}


/* #ffc600 */