.notification-wrapper {
    position: fixed;
    right: 50px;
    top: 50px;
    height: 50px;
    min-width: 64px;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 1);
}

.notification-wrapper>div {
    padding-left: 20px;
}

.notification-wrapper-success {
    background: #00bfa5;
}

.notification-wrapper-error::after {
    position: absolute;
    background: white;
    content: 'x';
    color: #ff5252;
    left: 5px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-weight: bolder;
}

.notification-wrapper-error {
    background: #ff5252;
}

@media all and (max-width: 500px) {
    .notification-wrapper {
        width: 100%;
        right: 0px;
    }
}