.notification-wrapper {
    position: fixed;
    right: 50px;
    top: 50px;
    height: 50px;
    min-width: 400px;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 1);
    animation: fadeIn 0.5s ease-in-out forwards;
}

.notification-wrapper>div {
    padding-left: 20px;
}

.notification-wrapper-success {
    background: #00bfa5;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.notification-wrapper-fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.notification-wrapper-error::after,
.notification-wrapper-success::after {
    position: absolute;
    background: white;
    text-align: center;
    left: 15px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-weight: bolder;
}

.notification-wrapper-error::after {
    content: 'x';
    color: #ff5252;
}

.notification-wrapper-success::after {
    content: '✓';
    color: #00bfa5;
}

.notification-wrapper-error {
    background: #ff5252;
}

@media all and (max-width: 500px) {
    .notification-wrapper {
        width: 100%;
        min-width: 360px;
        right: 0px;
    }
}